/* *{
  outline: 2px solid green
} */
main {
  margin-top: 120px;
}

.container {
  margin: 0px;
  min-height: 100vh;
  width: 100%;
}

.container.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-main-header {
  font-size: 2.9rem;
  color: var(--gold);
  margin: -5px 20px;
}

.landing-main-header-blue {
  font-size: 2.9rem;
  color: var(--blue);
  margin: 20px 0 0 0;
}

.apply-step-count {
  color: rgb(109, 109, 109);
}

.application-header.landing-main-header-blue {
  margin: 0;
  font-size: 2rem;
}

.landing-header {
  font-size: 2.6rem;
  color: white;
  margin: 0 20px 5px;
}

.landing-subheader {
  margin: 0 20px;
  color: white;
}

.landing-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.landing-info2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-text {
  width: 650px;
  font-size: 1.3rem;
}

.apply-form {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin-bottom: 30px;
}

.login-form {
  display: grid;
  place-content: center;
  place-items: center;
  min-height: 100vh;
  margin-bottom: 30px;
}

.login-btn {
  color: var(--background-color);
  background-color: var(--blue);
  height: 47px;
  width: 300px;
  border: none;
  border-radius: 20px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.form-row {
  display: flex;
}

.form-row {
  display: flex;
}

.form-wrap {
  margin: 10px;
  position: relative;
}

.form-wrap.profile {
  margin: 10px 0;
}

.upload-label{
  color: var(--blue);
  font-weight: 600;
  font-size: 1.2rem;
}

.input-select {
  background-color: var(--background-color);
  border: 2px solid var(--blue);
  border-radius: 5px;
  color: #000000;
  font-size: 14px;
  padding-left: 20px;
  box-shadow: none;
}

.input-select::placeholder {
  font-size: 1rem;
  margin: 0;
  color: var(--blue);
}

.application-input {
  background-color: var(--background-color);
  border: 2px solid var(--blue);
  border-radius: 5px;
  height: 47px;
  width: 300px;
  color: #000000;
  font-size: 14px;
  padding-left: 20px;
  box-shadow: none;
}

select {
  height: 52px !important;
  width: 325px !important;
}

input:focus ~ label,
input:valid ~ label,
select:focus ~ label,
select:valid ~ label,
input[type="date"]:focus ~ label,
input[type="email"]:focus ~ label,
input[type="date"]:valid ~ label,
input[type="email"]:valid ~ label {
  font-size: 14px;
  color: var(--gold);
  top: -5px;
  left: 10px;
  background: var(--background-color);
  padding: 0px 5px 0px 5px;
}

input[type="date"] ~ label,
input[type="email"] ~ label {
  font-size: 14px;
  color: var(--blue);
  top: -5px;
  left: 10px;
  background: var(--background-color);
  padding: 0px 5px 0px 5px;
}

.input-wrap {
  width: auto;
  height: auto;
  position: relative;
}

.input-wrap label {
  font-family: arial;
  font-size: 16px;
  color: var(--blue);
  padding: 14px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select,
textarea {
  outline: none;
}

.apply-button {
  background-color: var(--blue);
  height: 35px;
  width: 80px;
  border-radius: 5px;
  color: var(--background-color);
  border: none;
  margin: 5px;
}

footer {
  background-color: var(--blue);
  min-height: 50vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.footer-logo {
  margin: 0 0 70px 10px;
  height: 120px;
  border: 2px solid white;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin: 10px 0;
}

.footer-column.icons img {
  margin: 10px 0;
}

.footer-line {
  width: 2px;
  height: 27vh;
  background-color: #fff;
}

@media screen and (max-width: 750px) {
  .landing-info {
    align-items: unset;
  }

  .landing-info2 {
    align-items: unset;
  }

  .landing-text {
    width: auto;
  }

  .form-row {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  .footer-logo {
    display: none;
  }

  .footer-line {
    width: 47vw;
    height: 2px;
  }

  .footer-column.icons {
    flex-direction: row;
  }

  .footer-column.icons img {
    margin: 0 10px;
  }
}
