.profile-container {
  position: absolute;
  top: 0;
  left: 80px;
  margin: 10px;
  transition: left 0.5s ease-in-out;
}

.profile-container > .landing-main-header-blue {
  margin: 20px;
}

.student-nav.show ~ .profile-container {
  left: 280px;
}

.box-row {
  display: flex;
}

.profile-subheader {
  margin: 10px 20px;
  color: black;
}

.dashboard-box {
  background-color: var(--blue);
  padding: 15px;
  min-width: 250px;
  min-height: 180px;
  border-radius: 30px;
  margin: 20px 30px;
}

.dashboard-box h1 {
  color: white;
  font-size: 2.3rem;
  margin: 0;
}

.dashboard-box h3 {
  color: white;
  font-size: 1.5rem;
}

.personal-info-list {
  list-style: none;
}

.personal-info-row {
  margin: 30px 0;
}

.personal-info-title {
  margin: 0;
  color: rgb(97, 97, 97);
  font-size: 1.2rem;
}

.personal-info {
  margin: 10px auto;
  font-size: 1.5rem;
}

.personal-info-title.card {
  font-size: 1rem;
}

.personal-info.card {
  font-size: 1.3rem;
}

.sub-header-gold {
  margin: 10px 20px;
  color: var(--gold);
}

.timetable-list {
  margin: 10px;
}

.timetable-data {
  font-size: 1.1rem;
}

.courses-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.courses-table-row {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.courses-table-data {
  padding: 0.625em;
  text-align: center;
}

.courses-table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.courses-table-button {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  color: var(--background-color);
  background-color: var(--blue);
  cursor: pointer;
}

.courses-table-button.red {
  background-color: var(--red);
}

.courses-table-button.top {
  margin-bottom: 20px;
}

.btn-medium {
  color: var(--background-color);
  background-color: var(--blue);
  min-height: 47px;
  min-width: 200px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
}

.btn-medium.red{
  background-color: var(--red);
}

label {
  font-family: "Poppins", sans-serif !important;
}

input[type="file"]::file-selector-button {
  color: var(--background-color);
  background-color: var(--blue);
  min-height: 47px;
  min-width: 120px;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}

.facilitator-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.table-input {
  border-radius: 5px;
  border: 1px solid var(--blue);
  width: 100px;
}

.card-container {
  width: 92vw;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.application-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 20px;
}

@media screen and (max-width: 750px) {
  .profile-container {
    left: 0;
    margin: 10px 0;
  }
  .student-nav.show ~ .profile-container {
    left: 260px;
  }
  .box-row {
    flex-direction: column;
  }
  .dashboard-box {
    min-width: unset;
  }
  .personal-info-title {
    font-size: 1rem;
  }

  .personal-info {
    margin: 10px auto;
    font-size: 1.2rem;
    overflow: scroll;
  }
  .card-container {
    width: 98vw;
  }
}

@media screen and (max-width: 600px) {
  .courses-table {
    border: 0;
  }

  .courses-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .courses-table-row {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .courses-table-data {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .courses-table-data::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .courses-table-data:last-child {
    border-bottom: 0;
  }
}
